<!DOCTYPE html>
<!-- Reference to HTML Template
http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h -->
<html lang="en">
<head>
  <title>Soft Drinks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="\softDrinks">Soft Drinks</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="\beer">Beer</a></li>
        <li><a href="\wine">Wine</a></li>
		<li><a href="\spirits">Spirits</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="\logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
		<p>Useful Links for more Information</p>
      <p><a href="https://www.nutracheck.co.uk/calories/calories_in_drinks/calories_in_soft_drinks">Nutracheck.co.uk</a></p>
      <p><a href="http://www.thehealthsite.com/fitness/diet/how-many-calories-do-soft-drinks-or-colas-have-po1214/">Thehealthsite.com</a></p>
    </div>

	
    <div class="col-sm-8 text-center"> 
      <h1><b>Soft Drink Bottles</b></h1>
	  <h2>Fanta</h2>
	  <li>250 Calories per 500mL </li>
	  <li>Nutrition Facts: % = Daily Value</li>
	  <ul class="dashed">
		  <p>Total Fat	0g	0%</p>
			<p>Sat.Fat    0g  0 %</p>
			<p>  Trans Fat   0g</p>
			 <p> Cholesterol 0mg 0 %</p>
			<p>  Sodium  73mg    3 %</p>
			 <p> Total Carbs.    62.5g   21 %</p>
			<p>  Dietary Fiber   0g  0 %</p>
			 <p> Sugars  62.5g</p>
			 <p> Protein 0g</p>
			 <p> Potassium   0mg</p>
	  </ul>
	  <li>"How to burn these calories?"</li>
	  <ul class="dashed">
		  <p>69mins Walking \ 29mins Jogging</p>
	  </ul>
	  <h2>Classic Coca-Cola</h2>
	  <li>202 Calories per 500mL </li>
	  <li>Nutrition Facts: % = Daily Value</li>
	  <ul class="dashed">
		  <p>Total Fat	0g	0%</p>
			<p>Sat.Fat    0g  0 %</p>
			<p>  Trans Fat   0g</p>
			 <p> Cholesterol 0mg 0 %</p>
			<p>  Sodium  69mg    3 %</p>
			 <p> Total Carbs.    56.3g   19 %</p>
			<p>  Dietary Fiber   0g  0 %</p>
			 <p> Sugars  56.3g</p>
			 <p> Protein 0g</p>
			 <p> Potassium   0mg</p>
	  </ul>
	  <li>"How to burn these calories?"</li>
	  <ul class="dashed">
		  <p>56mins Walking \ 23mins Jogging</p>
	  </ul>

	  <h2>Pepsi</h2>
	  <li>211 Calories per 500mL </li>
	  <li>Nutrition Facts: % = Daily Value</li>
	  <ul class="dashed">
		  <p>Total Fat	0g	0%</p>
			<p>Sat.Fat    0g  0 %</p>
			<p>  Trans Fat   0g</p>
			 <p> Cholesterol 0mg 0 %</p>
			<p>  Sodium  42mg    2 %</p>
			 <p> Total Carbs.    57g   19 %</p>
			<p>  Dietary Fiber   0g  0 %</p>
			 <p> Sugars  57.7g</p>
			 <p> Protein 0g</p>
			 <p> Potassium   14.1mg</p>
	  </ul>
	  <li>"How to burn these calories?"</li>
	  <ul class="dashed">
		  <p>59mins Walking \ 24mins Jogging</p>
	  </ul>

	  <h2>Club Orange</h2>
	  <li>203 Calories per 500mL </li>
	  <li>Nutrition Facts: % = Daily Value</li>
	  <ul class="dashed">
		  <p>Total Fat	0g	0%</p>
			<p>Sat.Fat    0g  0 %</p>
			<p>  Trans Fat   0g</p>
			 <p> Cholesterol 0mg 0 %</p>
			<p>  Sodium  84mg    3 %</p>
			 <p> Total Carbs.    54.7g   19 %</p>
			<p>  Dietary Fiber   0g  0 %</p>
			 <p> Sugars  54.1g</p>
			 <p> Protein 0g</p>
			 <p> Potassium   0mg</p>
	  </ul>
	  <li>"How to burn these calories?"</li>
	  <ul class="dashed">
		  <p>59mins Walking \ 24mins Jogging</p>
	  </ul>

	  <h2>Cidona</h2>
	  <li>115 Calories per 500mL </li>
	  <li>Nutrition Facts: % = Daily Value</li>
	  <ul class="dashed">
		  <p>Total Fat	0g	0%</p>
			<p>Sat.Fat    0g  0 %</p>
			<p>  Trans Fat   0g</p>
			 <p> Cholesterol 0mg 0 %</p>
			<p>  Sodium  42mg    2 %</p>
			 <p> Total Carbs.    50g   18 %</p>
			<p>  Dietary Fiber   0g  0 %</p>
			 <p> Sugars  50.3g</p>
			 <p> Protein 0g</p>
			 <p> Potassium   0mg</p>
	  </ul>
	  <li>"How to burn these calories?"</li>
	  <ul class="dashed">
		  <p>32mins Walking \ 13mins Jogging</p>
	  </ul>

	  
      
	  
    </div>
    <div class="col-sm-2 sidenav">
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>